Repository PMI-CAL/RIF: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-rif-secrets, check-github-workflows

check-rif-secrets:
  name: RIF-specific secret check
  description: Check for RIF-specific secrets and tokens
  entry: python3
  language: system
  args:
  - -c
  ...

check-github-workflows:
  name: GitHub workflow security check
  description: Check GitHub Actions workflows for security issues
  entry: python3
  language: system
  args:
  - -c
  ...

Preserve deployment report changes
  deployment-report.md
Due: none

Add package.json for Node.js workflow compatibility
  package.json
Due: check-rif-secrets

Fix RIF Shadow Auditor agent structure - Issue #266
  claude/agents/rif-shadow-auditor.md
Due: none

Fix quality gate issues - Issue #266
  claude/agents/analyst.md
  claude/agents/api.md
  package-lock.json
Due: check-rif-secrets

Fix more agent file structures - Issue #266
  claude/agents/architect.md
  claude/agents/security.md
Due: none

Complete agent file structure fixes - Issue #266
  claude/agents/context-server-discovery.md
  claude/agents/database.md
  claude/agents/developer.md
  claude/agents/devops.md
  claude/agents/documentation.md
  claude/agents/legal.md
  claude/agents/monitoring.md
  claude/agents/performance.md
  claude/agents/project-manager.md
  claude/agents/quality-assurance.md
  claude/agents/scrum-master.md
  claude/agents/ux-ui.md
Due: none

Implement ContentAnalysisEngine to replace label dependency - Issue #273
  claude/commands/content_analysis_engine.py
  claude/commands/enhanced_orchestration_intelligence.py
  claude/commands/orchestration_utilities.py
  tests/unit/test_content_analysis_engine.py
Due: check-rif-secrets

Complete Issue #268 fix: Quality gate enforcement for PR merge blocking
  claude/agents/rif-pr-manager.md
  issue_268_validation_report.json
  tests/integration/test_agent_quality_gate_compliance.py
  validate_issue_268_fix.py
Due: check-rif-secrets

🔄 CRITICAL: Implement ContentAnalysisEngine - Replace Label Dependencies (Issue #273)
  claude/commands/content_analysis_engine.py
  claude/commands/enhanced_orchestration_intelligence.py
  claude/commands/fix_remaining_label_dependencies.py
  claude/commands/orchestration_utilities.py
  tests/unit/test_content_analysis_engine.py
Due: check-rif-secrets

Implement Dynamic Dependency Detection System (Issue #274)
  ISSUE_274_IMPLEMENTATION_SUMMARY.md
  claude/commands/content_analysis_engine.py
  claude/commands/dynamic_dependency_detector.py
  claude/commands/simple_phase_dependency_enforcer.py
  tests/unit/test_dynamic_dependency_detector.py
Due: check-rif-secrets

Implement Issue #275: User Comment Priority and 'Think Hard' Orchestration Logic
  ISSUE_273_IMPLEMENTATION_SUMMARY.md
  branch_workflow_enforcement_plan.md
  claude/commands/enhanced_orchestration_intelligence.py
  claude/commands/orchestration_intelligence_integration.py
  claude/commands/user_comment_prioritizer.py
  demo_issue_275_user_priority.py
  deployment-report.md
  issue_268_validation_report.json
  tests/test_user_comment_prioritization.py
Due: check-rif-secrets

Fix dynamic dependency detector imports after merge
  claude/commands/dynamic_dependency_detector.py
  tests/unit/test_dynamic_dependency_detector.py
Due: check-rif-secrets

Update deployment report
  deployment-report.md
Due: none

Implement Intelligent PR Automation Evolution (Issue #283)
  .github/workflows/intelligent-pr-automation.yml
  claude/commands/weighted_priority_orchestrator.py
  config/pr-automation-tuning.yaml
  docs/issue-283-implementation-summary.md
  docs/pr-automation-migration.md
  docs/pr-automation-runbook.md
  scripts/auto-fix-format.sh
  scripts/auto-fix-lint.sh
  scripts/auto-fix-simple-issues.sh
  scripts/calculate-pr-complexity.js
  scripts/deploy-pr-automation.sh
  validation/issue-283-validation-report.json
Due: check-rif-secrets, check-github-workflows

Fix SBOM generation for empty dependencies
  .github/workflows/sbom-generation.yml
Due: check-rif-secrets, check-github-workflows

Update deployment report during branch merge
  deployment-report.md
Due: none

Path conditions:
  check-rif-secrets: any of: .*\.(py|js|ts|yml|yaml|json|sh|env)$
  check-github-workflows: any of: ^\.github/workflows/.*\.(yml|yaml)$
